<div class="container cart">
    <div class="row">
        <h2 class="text-center title">{{ 'cart.title' | translate }}</h2>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'cart.product' | translate }}</th>
                        <th class="text-center">{{ 'cart.quantity' | translate }}</th>
                        <th class="text-center">{{ 'cart.price' | translate }}</th>
                        <th class="text-center">{{ 'cart.total' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-5 col-md-6">
                        <div class="media">
                            <img class="media-object pull-left" src="/assets/images/producto/ES/Blister_abierto.jpg" style="height: 72px;">
                            <div class="media-body">
                              {{ 'product.title' | translate }}
                              <p>
                                <span class="text-success"><strong>{{ 'cart.stock' | translate }}</strong></span>
                              </p>
                            </div>
                        </div></td>
                        <td class="col-sm-4 text-center">
                          <input type="button" value="-" class="minus button is-form subtract">
                          <input type="number" step="1" min="1" max="99" value="0" class="input-text qty text items" size="2" pattern="[0-9]*" inputmode="numeric">
                          <input type="button" value="+" class="plus button is-form add">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong id="price">0.00€</strong></td>
                        <td class="col-sm-2 col-md-1 text-center"><strong id="subtotal">0.00€</strong></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><strong>Tax: </strong></td>
                        <td class="text-right"><strong id="taxes">0.00€</strong></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>{{ 'cart.total' | translate }}</h3></td>
                        <td class="text-right"><h3><strong id="total">0.00€</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        </td>
                        <td>
                          <img class="loading" src="/assets/images/loading.gif" style="display: none"/>
                          {% assign checkoutsuccess = 'checkout.success' | section %}
                          {% assign checkoutfailure = 'checkout.failure' | section %}

                          <form action="/cart/checkout" method="POST">
                            <input type="hidden" name="locale" value="{{ page.locale }}">

                            <input type="hidden" name="success" value="{{ checkoutsuccess.permalink}}">
                            <input type="hidden" name="failure" value="{{ checkoutfailure.permalink}}">

                            {% assign env_name = 'JEKYLL_ENV' | env  %}

                            {% if env_name == "production" %}
                              {% assign locale_id = page.locale | upcase %}
                              {% assign payment_env_name = 'STRIPE_PUBLIC_' | append: locale_id %}
                            {% else %}
                              {% assign payment_env_name = 'TEST_STRIPE_PUBLIC' %}
                            {% endif %}

                            <script
                              id="payment"
                              src="https://checkout.stripe.com/checkout.js"
                              class="stripe-button"
                              data-key="{{ payment_env_name | env }}"
                              data-label="{{ 'cart.checkout' | translate }}"
                              data-amount="0"
                              data-name="{{ site.title }}"
                              data-description="{{ 'product.title' | translate }}"
                              data-image="{{site.url}}/assets/images/logo.png"
                              data-locale="{{ page.locale }}"
                              data-zip-code="true"
                              data-shippingAddress="true"
                              data-currency="eur">
                            </script>
                          </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
