<section class="section">
  <div class="container cart">
    <div class="row">
        <h2 class="text-center title">{{ 'cart.title' | translate }}</h2>
    </div>
    <div class="row text-center">
      <img id="loading" src="/assets/images/loading.gif"/>
    </div>
    <div id="detail" class="row" style="display: none">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'cart.product' | translate }}</th>
                        <th class="text-center">{{ 'cart.quantity' | translate }}</th>
                        <th class="text-center">{{ 'cart.price' | translate }}</th>
                        <th class="text-center">{{ 'cart.total' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-5 col-md-6">
                        <div class="media">
                            <img class="media-object pull-left" src="/assets/images/producto/ES/dion-11.jpg" style="height: 72px;">
                            <div class="media-body">
                              {{ 'product.title' | translate }}
                              <p>
                                <span class="text-success"><strong>{{ 'cart.stock' | translate }}</strong></span>
                              </p>
                            </div>
                        </div></td>
                        <td class="col-sm-4 text-center">
                          <select name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                          </select>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong id="price">0.00€</strong></td>
                        <td class="col-sm-2 col-md-1 text-center"><strong id="subtotal">0.00€</strong></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                          <form id="coupon" action="/cart/coupon" method="POST">
                            <input type="hidden" name="locale" value="{{ page.locale }}">
                            <span>{{ 'cart.coupon.label' | translate }}:</span>
                            <input type="text" name="coupon"/>
                            <input type="submit" value="{{ 'cart.coupon.apply' | translate }}"/>
                          </form>
                        </td>
                        <td class="text-right"><span id="coupon-reason"></span><code id="coupon-label" style="display: none"></code></td>
                        <td><strong>{{ 'cart.discount' | translate }}: </strong></td>
                        <td class="text-right"><strong id="discount">-0.00€</strong></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><strong>{{ 'cart.tax' | translate }}: </strong></td>
                        <td class="text-right"><strong id="taxes">0.00€</strong></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>{{ 'cart.total' | translate }}</h3></td>
                        <td class="text-right"><h3><strong id="total">0.00€</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        </td>
                        <td>
                          {% assign checkoutsuccess = 'checkout.success' | section %}
                          {% assign checkoutfailure = 'checkout.failure' | section %}

                          <form id="checkout" action="/cart/checkout" method="POST">
                            <input type="hidden" name="locale" value="{{ page.locale }}">

                            <input type="hidden" name="success" value="{{ checkoutsuccess.permalink}}">
                            <input type="hidden" name="failure" value="{{ checkoutfailure.permalink}}">

                            {% assign env_name = 'JEKYLL_ENV' | env  %}

                            {% if env_name == "production" %}
                              {% assign payment_env_name = 'STRIPE_PUBLIC' %}
                            {% else %}
                              {% assign payment_env_name = 'TEST_STRIPE_PUBLIC' %}
                            {% endif %}

                            <script
                              id="payment"
                              src="https://checkout.stripe.com/checkout.js"
                              class="stripe-button"
                              data-key="{{ payment_env_name | env }}"
                              data-label="{{ 'cart.checkout' | translate }}"
                              data-amount="0"
                              data-name="{{ site.title }}"
                              data-description="{{ 'product.title' | translate }}"
                              data-image="{{site.url}}/assets/images/logo.png"
                              data-locale="{{ page.locale }}"
                              data-zip-code="true"
                              data-shipping-address="true"
                              data-currency="eur">
                            </script>
                          </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <p>
          {{ 'cart.delivery.text' | translate }}
        </p>
        <p>
          {{ 'cart.comercial.delivery.text' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
