<!-- FAQ -->
<section class="section section-faq">
  <div class="container">
    <h2 class="text-center title">CARRITOOOO</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Articulo</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Blister 10 comprimidos
            SKU: 1000
            Precio: €5.00
          </td>
          <td>
            <input type="button" value="-" class="minus button is-form">
            <input type="number" step="1" min="0" max="9999" name="qty" value="3" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
            <input type="button" value="+" class="plus button is-form">
          </td>
          <td>10&euro;</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- end of FAQ -->
