{% assign kinds = 'frequent not-frequent delivery' | split: " " %}

{% for kind in kinds %}
<header>
  <div class="container">
    {% assign title = 'faqs.section' | append: forloop.index | append: '.title' %}
    {% assign text = 'faqs.section' | append: forloop.index | append: '.text' %}
    <h2 class="text-center title">{{ title | translate }}</h2>
    <p class="text-center text-muted">{{ text | translate }}</p>
  </div>
</header>

<!-- FAQ -->
<section class="section section-faq">
  <div class="container">
    <br>
    {% assign faq_groups = site.data.faqs | where: 'kind', kind | in_groups_of: 2 %}
    {% for faq_group in faq_groups %}
    <div class="row topspace">
      {% for faq in faq_group %}
      <div class="col-sm-6">
        <h4><b>{{ faq | field: 'title' }}</b></h4>
        <p>{{ faq | field: 'description' }}</p>
      </div>
      {% endfor %}
    </div> <!-- /row -->
    {% endfor %}
  </div>
</section>
<!-- end of FAQ -->
{% endfor %}
