<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>

<script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="/assets/js/headroom.min.js"></script>
<script src="/assets/js/jQuery.headroom.min.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/cart.js"></script>

<!-- Google Maps -->
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADcs7zskZXwjPTUGHWKPKMYYQMj5tCOyo&callback=initMap"></script>
<script type="text/javascript">
    function initMap() {
        var myLatlng = new google.maps.LatLng({{ 'contact.map.longitude' | translate }},{{ 'contact.map.latitude' | translate }});

        var mapOptions = {
            zoom: 17,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false,
            draggable: false
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var contentString = '<p style="line-height: 20px;">{{ 'contact.map.description' | translate }}</p>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Marker'
        });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<!-- Begin Cookie Consent plugin by Silktide - https://cookieconsent.insites.com -->
{% assign cookies = 'cookies' | section %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.4/cookieconsent.min.js" integrity="sha384-PDjg2ZdS3khPzd53i18+7tzB32JVQfFMrTXYo21RqPgUmEVAPwIhxOUF/8sP79CS" crossorigin="anonymous" async></script>

<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
        "popup": {
              "background": "#000"
            },
        "button": {
              "background": "#105349"
            }
      },
    "content": {
        "message": "{{ 'cookies.message' | translate }}",
        "dismiss": "{{ 'cookies.got_it' | translate }}",
        "link": "{{ 'cookies.learn_more' | translate }}",
        "href": "{{cookies.permalink}}"
      }
  })});
</script>
<!-- End Cookie Consent plugin -->
