<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>

{% if page.section == 'shops' %}
<script src="/assets/js/shops.js"></script>
{% endif %}

<script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="/assets/js/headroom.min.js"></script>
<script src="/assets/js/jQuery.headroom.min.js"></script>
<script src="/assets/js/template.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/maps.js"></script>

{% if page.section == 'cart' %}
<script src="/assets/js/cart.js"></script>
{% endif %}

<!-- Google Maps -->
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADcs7zskZXwjPTUGHWKPKMYYQMj5tCOyo&callback=initMaps"></script>

<!-- Bing -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26012455"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

<!-- Begin Cookie Consent plugin by Silktide - https://cookieconsent.insites.com -->
{% assign cookies = 'cookies' | section %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.4/cookieconsent.min.js" integrity="sha384-PDjg2ZdS3khPzd53i18+7tzB32JVQfFMrTXYo21RqPgUmEVAPwIhxOUF/8sP79CS" crossorigin="anonymous" async></script>

<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
        "popup": {
              "background": "#000"
            },
        "button": {
              "background": "#105349"
            }
      },
    "content": {
        "message": "{{ 'cookies.message' | translate }}",
        "dismiss": "{{ 'cookies.got_it' | translate }}",
        "link": "{{ 'cookies.learn_more' | translate }}",
        "href": "{{cookies.permalink}}"
      }
  })});
</script>
<!-- End Cookie Consent plugin -->
