<!-- highlights - jumbotron -->
<section id="how_it_works" class="section jumbotron">
  <div class="container">
    <h3 class="title text-center" style="text-transform: uppercase">
      {{ 'home.steps.title' | translate }}<br>
      <small>{{ 'home.steps.subtitle' | translate }}</small>
    </h3>
    <div class="row topspace-2x">
      {% for step in site.data.steps %}
      <figure class="col-md-4 col-sm-6 bottomspace-xs text-center">
        <i class="fa fa-{{ step.icon }} fa-4x color-action"></i>
        <h4>{{ step | field: 'text'}}</h4>
      </figure>
      {% endfor %}
    </div> <!-- /row  -->
  </div>
</section>
<!-- end of highlights -->
